{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'aggregator/main.css' %}">
    <link rel = "icon" href = "{% static 'aggregator/huskerhaus.ico' %}" type = "image/x-icon"> 
    {% if title %}
        <title>{{ title }} | Husker Haus</title>
    {% else %}
        <title>Husker Haus</title>
    {% endif %}
</head>
<body>
    <center>
      <table border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f5f1e7">
        <tbody>

          <!-- Header -->
          <tr>
            <td bgcolor="#d00000">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                <tbody>
                  <tr>
                    <td style="width:18px;padding-right:4px">
                      <a class="nav-link" href="{% url 'site-home' %}"><img src="{% static 'aggregator/huskerhaus.ico' %}" width="18" height="18" style="margin-top: 2px" alt="Husker Haus"></a>
                    </td>
                    <td style="line-height:12pt; height:10px;">
                      <span>
                        <b>
                          <a class="nav-link" href="{% url 'site-home' %}">Husker Haus</a>
                        </b>
                        <span>&nbsp;</span>
                        <a class="nav-link" href="{% url 'site-about' %}">about</a>
                        <span class="nav-link"><b>|</b></span>
                        <a class="nav-link" href="#">submit</a>
                      </span>
                    </td>
                    <td style="text-align:right;padding-right:4px;">
                      {% if user.is_authenticated %}
                        <span>
                          <span>
                            <a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
                          </span>
                          <span class="nav-link"><b>|</b></span>
                          <a class="nav-link" href="{% url 'logout' %}">logout</a>
                        </span>
                      {% else %}
                        <span>
                          <a class="nav-link" href="{% url 'register' %}">register</a>
                        </span>
                        <span class="nav-link"><b>|</b></span>
                        <span>
                          <a class="nav-link" href="{% url 'login' %}">login</a>
                        </span>
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>

          <!-- Spacer -->
          <tr title style="height:10px"></tr>

          <!-- Content -->
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  {% block content %}{% endblock %}
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
</body>
</html>