{% extends "aggregator/base.html" %}
{% block content %}
    {% if messages %}
      {% for message in messages %}
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>{{ message }}</td>
        <tr style="height:5px"></tr>
      {% endfor %}
    {% endif %}
    {% for post in posts %}
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
          {{ post.title }}
          <span>(<a class="content-link" href="#">{{ post.url }})</a></span>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td class="byline">
          <span>
            by <a class="content-link" href="#">{{ post.author }}</a>        </span>
          <span>{{ post.date_posted|timesince }}</span> ago
            |
          <a class="content-link" href="#">comments</a>
        </td>
      </tr>
      <tr style="height:5px"></tr>
    {% endfor %}
{% endblock content %}