{% extends "aggregator/base.html" %}
{% load url_shortener %}
{% block content %}
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>
            <a class="content-link" style="color:black;" href="{{ object.url }}">{{ object.title }}</a>
            <span style="font-size: 10pt;"><a class="content-link" href="{{ post.url|url_shortener }}">({{ object.url|url_shortener }})</a></span>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="byline">
            <span>by <a class="content-link" href="{% url 'user-profile' object.author.username %}">{{ object.author }}</a></span>
            
            <span>{{ object.date_posted|timesince }}</span> ago
            |
            <a class="content-link" href="{% url 'post-detail' post.id %}">comments</a>

            {% if object.author == user %}
            |
            <a class="content-link" href="{% url 'post-delete' object.id %}">delete</a>
            {% endif %}
        </td>
    </tr>
    <tr style="height:15px"></tr>
    <tr>
        <td colspan="2"></td>
        <td>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button>add comment</button>
                </div>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td>
            <table>
                <tbody>
                    <tr>
                        <td class="byline">
                            {{ comments.count }} comment{{ comments|pluralize }}
                            <hr>
                        </td>
                    </tr>
                    {% for comment in comments %}
                    <tr></tr>
                    <tr><td class="byline">
                        <span><a class="content-link" href="{% url 'user-profile' object.author.username %}">({{ comment.user }}) | {{ comment.date_commented|timesince }} ago</a></span>
                    </td></tr>
                    <tr>
                        <td><span>{{ comment.content }}</span> <hr></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </td>
    </tr>
    <tr style="height:5px"></tr>
{% endblock content %}