{% extends "aggregator/base.html" %}
{% block content %}
    {% if messages %}
        <tr>
            {% for message in messages %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>{{ message }}</td>
            <tr style="height:5px"></tr>
            {% endfor %}
        </tr>
        <tr style="height:5px"></tr>
    {% endif %}
    <tr>
        <td class="content-text">
            <form method="POST">
                {% csrf_token %}
                <b>Reset Password</b>
                {{ form.as_p }}
                <div>
                    <button>reset password</button>
                </div>
            </form>
        </td>
    </tr>
    <tr style="height:5px"></tr>
    
{% endblock content %}